﻿@page
@model MyApp.Namespace.Plants.CreateModel
@{
        ViewData["Title"] = "Create";
}
<h2>Make a New Plant</h2>
<form method="post">
    <!--hidden because I don't want the user to edit the ID op the plant -->
    <input type="hidden" asp-for="Plant.PlantID" />

    <div class="form-group">
        <label asp-for="Plant.PlantName"></label>
        <input asp-for="Plant.PlantName" class="form-control"/>
        <span class="txt-danger" asp-validation-for="Plant.PlantName"></span>
    </div>

    <div class="form-group">
        <label>Plant Type</label>
        <select name="PlantTypeID" class="form-control">
            @foreach (var plantTypes in Model.PlantTypes)
            {
                <option value=@plantTypes.PlantTypeID>@plantTypes.Name</option> 
            }
                    
        </select>
        <span class="txt-danger" asp-validation-for="Plant.PlantType"></span>
    </div>


    <button type="submit" class="btn btn-primary">
        Save Changes
    </button>
</form>
