﻿@page "{PlantID:int}"
@model MyApp.Namespace.Plants.DetailModel
@{
        ViewData["Title"] = "Detail";
}

<h2>@Model.Plant.PlantName</h2>
<div>
    Species: @Model.Plant.PlantType.Name
</div>
<div>
    Scientific Name: @Model.Plant.PlantType.ScientificName
</div>
<div>
    Sun Intensity: @Model.Plant.PlantType.Intensity
</div>
<div>
    Watering Interval: @Model.Plant.PlantType.WateringInterval
</div>
<div>
    Date Last Watered: @Model.Plant.DateLastWatered
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a class="btn btn-primary"  asp-page="./Edit" asp-route-plantID = "@Model.Plant.PlantID">
    edit
</a>

<a asp-page="./List" class="btn btn-primary">All Plants</a>