﻿@page "{PlantID:int}"
@model MyApp.Namespace.Plants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Plant.PlantName</h2>

<form method="post">
    <!--hidden because I don't want the user to edit the ID op the plant -->
    <input type="hidden" asp-for="Plant.PlantID" />

    <div class="form-group">
        <label asp-for="Plant.PlantName"></label>
        <input asp-for="Plant.PlantName" class="form-control"/>
        <span class="txt-danger" asp-validation-for="Plant.PlantName"></span>
    </div>

    <div class="form-group">
        <label>Plant Type</label>
        <select name="plantTypeID" class="form-control">
            @foreach (var plantType in Model.PlantTypes)
            {
                @if (plantType.PlantTypeID == Model.Plant.PlantType.PlantTypeID)
                {
                    <option value=@plantType.PlantTypeID selected>@plantType.Name</option>
                } else
                {
                    <option value=@plantType.PlantTypeID>@plantType.Name</option>   
                }
            }
        </select>
        <span class="txt-danger" asp-validation-for="Plant.PlantType"></span>
    </div>


    <button type="submit" class="btn btn-primary">
        Save Changes
    </button>
</form>
