﻿@page
@model MyApp.Namespace.Plants.ListModel
@{
}

<h1>Plants</h1>
<a class="btn btn-primary"  asp-page=".\Create">
    Add New Plant
</a> 

<table class="table">
    @foreach(var plant in Model.Plants)
    {
        <tr>
            <td>
                @plant.PlantName
            </td>
            <td>
                @plant.DateLastWatered
            </td>
            <td>
                @plant.PlantID
            </td>
            <td>
                <a class="btn btn-primary"  asp-page="./Detail" asp-route-plantID = "@plant.PlantID">
                    view
                </a>
            </td>

        </tr>
    }
</table>

<div>
    @Model.Message
</div>
