﻿@page "{PlantTypeID:int}"
@model MyApp.Namespace.PlantTypes.DetailModel
@{
        ViewData["Title"] = "Detail";
}

<h2>@Model.PlantType.Name</h2>
<div>
    Scientific Name: @Model.PlantType.ScientificName
</div>
<div>
    Preffered Sun Intensity: @Model.PlantType.Intensity
</div>
<div>
    Needs to be watered every @Model.PlantType.WateringInterval days
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a class="btn btn-primary"  asp-page="./Edit" asp-route-plantTypeID = "@Model.PlantType.PlantTypeID">
    edit
</a>

<a asp-page="./List" class="btn btn-primary">All Species</a>