﻿@page "{PlantTypeID:int}"
@model MyApp.Namespace.PlantTypes.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.PlantType.Name</h2>

<form method="post">
    <!--hidden because I don't want the user to edit the ID op the plant -->
    <input type="hidden" asp-for="PlantType.PlantTypeID" />

    <div class="form-group">
        <label asp-for="PlantType.Name"></label>
        <input asp-for="PlantType.Name" class="form-control"/>
        <span class="txt-danger" asp-validation-for="PlantType.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlantType.WateringInterval"></label>
        <input asp-for="PlantType.WateringInterval" class="form-control"/>
        <span class="txt-danger" asp-validation-for="PlantType.WateringInterval"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlantType.ScientificName"></label>
        <input asp-for="PlantType.ScientificName" class="form-control"/>
        <span class="txt-danger" asp-validation-for="PlantType.ScientificName"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlantType.Intensity"></label>
        <select asp-for="PlantType.Intensity" class="form-control" asp-items="Model.SunIntensities"></select>
        <span class="txt-danger" asp-validation-for="PlantType.ScientificName"></span>
    </div>


    <button type="submit" class="btn btn-primary">
        Save Changes
    </button>
</form>
