﻿@page
@model MyApp.Namespace.PlantTypes.ListModel
@{
}
<h1>Species</h1>
<a class="btn btn-primary"  asp-page=".\Create">
    Add New Species
</a> 

<table class="table">
    @foreach(var plantType in Model.PlantTypes)
    {
        <tr>
            <td>
                @plantType.Name
            </td>
            <td>
                @plantType.ScientificName
            </td>
            <td>
                @plantType.Intensity
            </td>
            <td>
                @plantType.WateringInterval
            </td>

            <td>
                <a class="btn btn-primary"  asp-page="./Detail" asp-route-plantTypeID = "@plantType.PlantTypeID">
                    view
                </a>
            </td>

        </tr>
    }
</table>

<div>
    @Model.Message
</div>
