﻿@page
@model MyApp.Namespace.Households.CreateModel
@{
        ViewData["Title"] = "Create";
}
<h2>Make a New Household</h2>
<form method="post">
    <!--hidden because I don't want the user to edit the ID op the plant -->
    <input type="hidden" asp-for="Household.ID" />

    <div class="form-group">
        <label asp-for="Household.Name"></label>
        <input asp-for="Household.Name" class="form-control"/>
        <span class="txt-danger" asp-validation-for="Household.Name"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Save Household
    </button>
</form>
