﻿@page "{ID:int}"
@model MyApp.Namespace.Households.DetailModel
@{
        ViewData["Title"] = "Detail";
}

<h2>@Model.Household.Name</h2>

<a class="btn btn-primary"  asp-page="../Users/AddUser" asp-route-plantID = "@Model.Household.ID">
    Add User to household
</a>

<a asp-page="./List" class="btn btn-primary">All Households</a>