﻿@page
@model MyApp.Namespace.Households.ListModel
@{
}

<h1>My Households</h1>
<a class="btn btn-primary"  asp-page=".\Create">
    Add New Household
</a> 

<table class="table">
    @foreach(var household in Model.Households)
    {
        <tr>
            <td>
                @household.Name
            </td>
            <td>
                <a class="btn btn-primary"  asp-page="./Detail" asp-route-ID = "@household.ID">
                    view users in this household
                </a>
            </td>

        </tr>
    }
</table>

<div>
    @Model.Message
</div>
